<!DOCTYPE html>
<html>
<head>
  <title>HTML FORM</title>
</head>

<body>
  <form action="/users" method="post" accept-charset="UTF-8">
    username: <input type="text" name="user[username]"><br>
    email: <input type="email" name="user[email]"><br>
    password: <input type="password" name="user[password]"><br>
    <input type="submit" value="Submit">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </form>
</body>

</html>